<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyu.security.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhiyu.security.entity.pojo.Menu">
        <id column="id" property="id" />
        <result column="level" property="level" />
        <result column="menu_name" property="menuName" />
        <result column="serial_num" property="serialNum" />
        <result column="parent_id" property="parentId" />
        <result column="url" property="url" />
        <result column="permissions" property="permissions" />
        <result column="description" property="description" />
        <result column="image_url" property="imageUrl" />
        <result column="menu_type" property="menuType" />
        <result column="status" property="status" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="delete_time" property="deleteTime" />
        <result column="create_at" property="createAt" />
        <result column="update_at" property="updateAt" />
        <result column="delete_at" property="deleteAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, level, menu_name, serial_num, parent_id, url, permissions, description, image_url, menu_type, status, deleted, create_time, update_time, delete_time, create_at, update_at, delete_at
    </sql>


    <select id="selectMenuPermsByUserId" resultType="string" parameterType="long">
        SELECT distinct m.permissions
        FROM menu m
                 LEFT JOIN role_menu rm ON m.id = rm.menu_id AND m.deleted = 0 AND rm.deleted = 0
                 LEFT JOIN user_role ur ON rm.role_id = ur.role_id AND ur.deleted = 0
                 LEFT JOIN role r ON r.id = ur.role_id AND r.deleted = 0
        WHERE m.status = 0 AND r.status = 0 AND ur.user_id = #{userId}
    </select>

</mapper>
